@import "../../styles/mixins";

.sucess-page {
    @include page-wrapper;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include h1-title;
        font-weight: bold;
        color: #247a6b;
        width: 50%;
    }

    a {
        @include btn-design;
        width: 200px;
        margin-top: 80px;
    }

    .info-box {
        width: 85%;
        margin-bottom: 15px;
        h2 {
            font-size: 18px;
            line-height: 28px;
            font-weight: bold;
            margin-bottom: 5px;
        }

        p {
            font: 19px;
            margin-bottom: 5px;
        }
    }
}
